<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TestPhotography</display-name>
  
  
  
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.ankit.web.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlbumThumb</servlet-name>
    <servlet-class>com.ankit.web.AlbumThumb</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatDetailUpdate</servlet-name>
    <servlet-class>com.ankit.web.CatDetailUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatDetailReturn</servlet-name>
    <servlet-class>com.ankit.web.CatDetailReturn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatHomeUpdate</servlet-name>
    <servlet-class>com.ankit.web.CatHomeUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatHomeReturn</servlet-name>
    <servlet-class>com.ankit.web.CatHomeReturn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeImgReturn</servlet-name>
    <servlet-class>com.ankit.web.HomeImgReturn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryUpdate</servlet-name>
    <servlet-class>com.ankit.web.CategoryUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.ankit.web.FileUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryCreate</servlet-name>
    <servlet-class>com.ankit.web.CategoryCreate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategorySpecInit</servlet-name>
    <servlet-class>com.ankit.web.CategorySpecInit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PicnameReturn</servlet-name>
    <servlet-class>com.ankit.web.PicnameReturn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.ankit.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategorySpecDir</servlet-name>
    <servlet-class>com.ankit.web.CategorySpecDir</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PicdetailReturn</servlet-name>
    <servlet-class>com.ankit.web.PicdetailReturn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditPhoto</servlet-name>
    <servlet-class>com.ankit.web.EditPhoto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ankit.web.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThumbReturn</servlet-name>
    <servlet-class>com.ankit.web.ThumbReturn</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumThumb</servlet-name>
    <url-pattern>/AlbumThumb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatDetailUpdate</servlet-name>
    <url-pattern>/CatDetailUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatDetailReturn</servlet-name>
    <url-pattern>/CatDetailReturn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatHomeUpdate</servlet-name>
    <url-pattern>/CatHomeUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatHomeReturn</servlet-name>
    <url-pattern>/CatHomeReturn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeImgReturn</servlet-name>
    <url-pattern>/HomeImgReturn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryCreate</servlet-name>
    <url-pattern>/CategoryCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryUpdate</servlet-name>
    <url-pattern>/CategoryUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategorySpecInit</servlet-name>
    <url-pattern>/CategorySpecInit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicnameReturn</servlet-name>
    <url-pattern>/PicnameReturn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategorySpecDir</servlet-name>
    <url-pattern>/CategorySpecDir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicdetailReturn</servlet-name>
    <url-pattern>/PicdetailReturn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPhoto</servlet-name>
    <url-pattern>/EditPhoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThumbReturn</servlet-name>
    <url-pattern>/ThumbReturn</url-pattern>
  </servlet-mapping>
  
  
  <env-entry> 
    <env-entry-name>host_db</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>localhost:3306</env-entry-value> 
  </env-entry> 
  <env-entry> 
    <env-entry-name>name_db</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>photography</env-entry-value> 
  </env-entry>
  <env-entry> 
    <env-entry-name>user_db</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>root</env-entry-value> 
  </env-entry>
  <env-entry> 
    <env-entry-name>pass_db</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>rootroot</env-entry-value> 
  </env-entry>
  
  
  <session-config>
        <session-timeout>15</session-timeout>
</session-config>
  
  
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
</web-app>
